aiogram==3.27.0
fastapi[standard]
uvicorn[standard]
sqlalchemy[asyncio]==2.0.49
asyncpg==0.31.0
aiosqlite>=0.20
alembic==1.18.4
pydantic-settings>=2.0
loguru>=0.7
gspread==6.2.1
google-auth>=2.0
tzdata>=2024.1
